@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root{
  --primary-color : #4a4df7; 
  --primary-color-2 : #3d3fce;
  --text-normal: #cccccc;
  --text-big: #ffffff;
  --text-black : #000000;
  --background: #242428;
  --foreground : #757575;

  --overlay : #000000
}

[data-theme = "dark"]{
  --primary-color : #1b2785; 
  --text-normal: #dadada;
  --text-big: #ffffff;
  --background: #242428;

  --overlay : #000000
}

*{
  font-family: "Poppins",serif;
}

li{
  list-style: none;
}

h1, h2, h3, h4, h5{
  color: var(--text-big);
  font-weight: 600;
}

p, li{
  color: var(--text-normal)
}

input{
  background-color: var(--text-big);
}

div{
  color: var(--text-normal);
}

.background-color{
    background-color: var(--background);
}

.foreground-color{
  background-color: var(--foreground);
}


.color-white{
  color: var(--text-big);
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidden-scrollbar {
  overflow-x: scroll;
  scrollbar-width: none; 
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.color-black{
  color: var(--text-black)
}
